.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.class-select-container {
    padding: 20px;
    margin: 10px;
    background-color: #BCAB79;
    width: 45%;
}

.class-name {
    color: #5a3a31;
    text-align: center;
    border-bottom: 2px solid #315659;
}

.class-details {
    color: #5a3a31;
    font-weight: 400;
}

.detail-title {
    color: #5a3a31;
    font-weight: bold;
    border-bottom: 2px solid #315659;
}

.detail-description {
    color: #5a3a31;
    font-weight: 400;
}

.link {
    text-decoration: none;
}