.header-container {
    background-color: #5a3a31;
    padding: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.h1-website-title {
    color: #BCAB79;
    margin-bottom: 25px;
}

.h2-website-title {
    color: #BCAB79;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: xx-large;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.nav-btns {
    background-color: #2978A0;
    border: 1px solid #315659;
    color: #BCAB79;
    padding: 20px;
    font-size: xx-large;
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.feat-select-container {
    padding: 20px;
    margin: 10px;
    background-color: #BCAB79;
    width: 45%;
}

.feat-select-container:hover {
    border: 10px solid #5a3a31;
    margin: 0px;
    cursor: pointer;
}

.feat-name {
    color: #5a3a31;
    text-align: center;
    border-bottom: 2px solid #315659;
}